/*Reset CSS*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

h2 {
  color: #fff;
  margin-top: 3%;
}

/* Page login */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.scrollable-div {
  height: auto;
  overflow: auto;
}

.choice-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  height: 80%;
  width: 80%;
  max-width: 600px;
  overflow: auto;
}

.choice-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.choice-box form a {
  position: relative;
  display: flexbox;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-bottom: 40px;
  letter-spacing: 4px
}

.choice-box form:not(.formulaire, .flip-form) {
  display: flex;
  flex-direction: row;
}

.choice-box a:hover:not(.delete-icon) {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}

.choice-button {
  padding: 10px;
  display: grid;
  place-items: center;
  font-weight: bolder;
}

.retour {
  margin-top: 50px;
}

@media (max-width: 600px) {

  .choice-box {
    width: 100%;
    padding: 20px;
  }

  .choice-box h2 {
    margin: 0 0 20px;
  }

  .choice-box form a {
    padding: 10px 15px;
    margin-top: 30px;
  }
}

#retour {
  float: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #ffffff;
  border-color: #ffffff;
}

table,
th,
td {
  border: 1px solid #ffffff;
}

th,
td {
  padding: 15px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #fff;
}

#myInput {
  background-image: url('../IMAGES/icons8-search-20.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: auto;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}


nav {
  position: fixed;
  width: 100%;
  max-width: 300px;
  bottom: 0;
  top: 0;
  display: block;
  min-height: 300px;
  height: 100%;
  color: #fff;
  opacity: 0.8;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

nav .vertical-menu hr {
  opacity: 0.1;
  border-width: 0.5px;
}

nav ul {
  width: 90%;
  padding-inline-start: 0;
  margin: 10px;
  height: calc(100% - 20px);
}

nav .vertical-menu-logo {
  padding: 20px;
  font-size: 1.3em;
  position: relative
}

nav .vertical-menu-logo .open-menu-btn {
  width: 30px;
  height: max-content;
  position: absolute;
  display: block;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

nav .vertical-menu-logo .open-menu-btn hr {
  margin: 5px 0
}

nav li {
  list-style: none;
  padding: 10px 10px;
  cursor: pointer;
}

nav li:hover {
  color: rgba(75, 105, 176, 1);
}

.content-wrapper {
  width: calc(100% - 300px);
  height: 100%;
  position: fixed;
  background: #fff;
  left: 300px;
  padding: 20px;
}

.closed-menu .content-wrapper {
  width: 100%;
  left: 50px;
}

.content-wrapper {
  transition: all 300ms;
}

.vertical-menu-wrapper .vertical-menu-logo div {
  transition: all 100ms;
}

.closed-menu .vertical-menu-wrapper .vertical-menu-logo div {
  margin-left: -100px;
}

.vertical-menu-wrapper .vertical-menu-logo .open-menu-btn {
  transition: all 300ms;
}

.closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn {
  left: 7px;
  right: 100%;
}

.closed-menu .vertical-menu-wrapper ul,
.closed-menu .vertical-menu-wrapper hr {
  margin-left: -300px;
}

.vertical-menu-wrapper ul,
.vertical-menu-wrapper hr {
  transition: all 100ms;
}

.content-wrapper {
  background: #ebebeb;
}

.content {
  width: 90%;
  min-height: 90%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

li a {
  text-decoration: none;
  color:#fff;
}

li a:hover {
  background-color: rgba(75, 105, 176, 0.15);
  color: rgba(75, 105, 176, 1);
}

